
/* Contact card */
.contact-card > img{
    border-radius: 3px;
    z-index: 1;
}

.contact-content{
    height: 50px;
    padding: 6px;
    box-sizing: border-box;
    position: absolute;
    background: rgba(27, 27, 27, 0.5);
    color: white;
    z-index: 2;
    bottom: 0;
    right: 0;
    text-align: center;
    transition: 0.4s ease-in;
}

.contact-card{
    position: relative;
    animation-name: surgir;
    animation-duration: 2.5s;
    width: -webkit-fill-available;
}

.contact-container .contact-card{
    max-height: 600px;
    overflow: hidden;
    color: white;
    box-shadow: 5px 5px 20px black;
    border-radius: 80px 40px 40px 120px;
}


.contact-content p, .contact-content a {
    visibility: hidden;
    opacity: 0;
    transition: 0.4s ease-in;
}

.contact-card:hover p, .contact-card:hover a {
    visibility: visible;
    opacity: 1;
}

.contact-card:hover .contact-content {
    height: 120px;
    background: rgba(0, 0, 0, 0.9);
}

.contact-content h3 {
    font-size: 1.8em;
}

.contact-content a {font-weight: 700;}

.contacts svg{
    visibility: hidden;
    opacity: 0;
    transition: 0.5s ease-out;
    transform: scale(2.5);
}

.contact-container:hover .contacts svg{
    visibility: visible;
    opacity: 1;
}
.contacts a { color: black;}
.contacts a:hover { color: #FA2C21;}

/* Animations */
@keyframes surgir{
    from {opacity: 0; left: -100%;}
    to {opacity: 1; left: 0;}
}