body{font-size: 18px;}

/* Navbar Styles */
header{background-color: #FA2C21;}

a{text-decoration: none;}

a, button{color: #F6F2F4;}

button {
    border: 0;
    border-bottom: 1px solid transparent;
    background-color: transparent;
}
button:hover{
    transition: 0.32s ease-in-out;
    border-color: white;
}

.nav-title{font-size: 1.8rem;}